// SITE WIDE STYLES
// These styles applies throughout the whole website
//==========================================================

a,
a:focus {
	-webkit-outline: none !important;
	-moz-outline: none !important;
	outline: none !important;
	transition: all .3s linear;
}


.mec-event-calendar-classic {
	
	.mec-calendar-header {
		color: $d-blue !important;
	}
	
	.mec-calendar-day-head {
		color: white;
		background: $d-blue !important;
	}
	
	.mec-event-time {
		font-size: 16px !important;
	}
	
	
	.mec-event-title {
		font-size: 18px !important;
	}
}

#cd-timeline {
	
	.cd-timeline-item-title {
		font-size: 160% !important;
		
		//767px
		@include respond-max( $xl-phone ) {
			font-size: 130% !important;
		}
		
		//480px
		@include respond-max( $m-phone ) {
			font-size: 100% !important;
		}
	}
}