/* =============================
		TYPOGRAPHY
=============================== */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0 !important;
	line-height: 1;
	transition: all 0.3s ease-in-out;
	
	//480px
	@include respond-max( $m-phone ) {
		line-height: 1.2;
	}

}


// H1 BUILD
// =================
h1 {
	font-size: 300%;
	
	//1366px
    @include respond-max($l-laptop) {
        font-size: 220%;
    }
	
	//880px
	@include respond-max( $m-tablet ) {
		font-size: 200%;
	}
	
	//767px
	@include respond-max( $xl-phone ) {
		font-size: 150%;
	}
	
	//480px
	@include respond-max( $m-phone ) {
		font-size: 100%;
	}
	
}


// H2 BUILD
// ===========================
h2 {
	font-size: 260%;
	
	//1366px
    @include respond-max($l-laptop) {
        font-size: 200%;
    }
    
    //880px
	@include respond-max( $m-tablet ) {
		font-size: 160%;
	}
	
	//767px
	@include respond-max( $xl-phone ) {
		font-size: 130%;
	}
	
	//480px
	@include respond-max( $m-phone ) {
		font-size: 100%;
	}
}


// H3 BUILD
// ===========================
h3 {
	font-size: 240%;
	
	//1366px
    @include respond-max($l-laptop) {
        font-size: 200%;
    }
    
    //880px
	@include respond-max( $m-tablet ) {
		font-size: 160%;
	}
	
	//767px
	@include respond-max( $xl-phone ) {
		font-size: 130%;
	}
	
	//480px
	@include respond-max( $m-phone ) {
		font-size: 100%;
	}
}


// H4 BUILD
// ===========================
h4 {
	
	//1366px
    @include respond-max($l-laptop) {
        font-size: 160%;
    }
    
    //880px
	@include respond-max( $m-tablet ) {
		font-size: 130%;
	}
	
	//767px
	@include respond-max( $xl-phone ) {
		font-size: 115%;
	}
	
	//480px
	@include respond-max( $m-phone ) {
		font-size: 100%;
	}
	
}


// H5 BUILD
// ===========================
h5 {
	
	//1366px
    @include respond-max($l-laptop) {
        font-size: 120%;
    }
    
    //880px
	@include respond-max( $m-tablet ) {
		font-size: 100%;
	}
}



// H6 BUILD
// ===========================
h6 {
	
	//1366px
    @include respond-max($l-laptop) {
        font-size: 100%;
    }
    
    //880px
	@include respond-max( $m-tablet ) {
		font-size: 90%;
	}
}



//===========================================================================================



// X-TEXT STYLES - X-THEME
// ===========================

.x-text { 	

	//Gray Variant
	//=======================
	&.-grey{

		> h1, h2, h3, h4,h5,h6, p{
			color: $grey;
		}

	}

	//White Variant
	//=====================
	&.-white{

		> h1, h2, h3, h4, h5, h6, p{
			color: white;
		}

	}

}


//TEXT TITLE VARIATIONS
//==========================
.x-text {
	line-height: 1.5;
	
	&.head-title {
		
		> p {
			text-transform: uppercase;
			margin-bottom: 8px;
			color: $d-blue;
			font-size: 1.2rem;
			letter-spacing: 1px;
			
			//1366px
		    @include respond-max($l-laptop) {
		        font-size: 1rem;
		    }
		    
		    @include respond-custom(max-width, 550px) {
			    font-size: 0.8rem;
			    line-height: 1.2;
			}
		}
		
	}
	
	p {
		//767px
		@include respond-max( $xl-phone ) {
			font-size: .8rem;
		}
	}
}




// TEXT WIDTHS
//========================
.x-text{
	
	&._max-1300 {
		max-width: em( 1300 );
	}
	
	&._max-1150 {
		max-width: em( 1150 );
	}
	
	&._max-1000 {
		max-width: em( 1000 );
	}
	
	&._max-900 {
		max-width: em( 900 );
	}
	
	&._max-800 {
		max-width: em( 800 );
	}
	
	&._max-520 {
		max-width: em( 520 );
	}
	
	&._max-480 {
		max-width: em( 480 );
	}
	
	
	&._center {
		margin-left: auto;
		margin-right:auto;
	}
	
	&._left {
		margin-left: 0;
		margin-right:auto;
	}
	
	&._right {
		margin-left: auto;
		margin-right:0;
	}
}