/* =============================
	 PAGE HEADER STYLES
=============================== */

#home-hero {
	
	//1024px
    @include respond-max($hor-tablet) {
	    padding-top: 18%;
		padding-bottom: 18%;
    }
    
    @include respond-custom(max-width, 960px) {
 	    padding-top: 10em;
		padding-bottom: 5em;
    }
    
    //767px
	@include respond-max( $xl-phone ) {
		padding-bottom: 3em;
	}
	
	.x-text {
	
		&.head-title {
			
			> p {
				color: $l-blue;
			}
			
		}
	}
}

#inner-hero {
	
	//1024px
    @include respond-max($hor-tablet) {
	    padding-top: 15%;
		padding-bottom: 15%;
    }
    
    //767px
	@include respond-max( $xl-phone ) {
		padding-top: 8em;
		padding-bottom: 3em;
	}
	
	//480px
	@include respond-max( $m-phone ) {
		
		h1 {
			font-size: 120%;
		}
		
	}	
}