/* =============================
	MAIN NAVIGATION STYLES
=============================== */

//LOGO
//=======================
.x-brand {
	
	//768px
	@include respond-max( $ver-tablet ) {
		width: 200px;
	}

}


//NAVIGATION BAR
//========================
.x-navbar-wrap {
	position: absolute;
	width: 100%;
}

.x-navbar {
	background-color: transparent !important;
	box-shadow: none !important;
	border-bottom: none !important;
	
	.x-nav {
		
		> li {
			
			> a {
				
/*
				//1200px
				@include respond-max( $s-laptop ) {
					padding-left: 20px !important;
					padding-right: 20px !important;
					font-size: 19px !important;
				}
*/
				
/*
				//320px
				@include respond-max( $s-phone ) {
					font-size: 16px !important;
				}
*/

				&:hover {
					box-shadow: none !important;
					//background-color: white;
					//border-bottom: 5px solid $orange;
					transition: all 0.3s ease-in-out;
				}
			}
		}
	}
	
	
	.x-navbar-inner {
		
		//600px
		@include respond-max( $l-phone ) {
			height: inherit !important;
			min-height: 75px !important;
			transition: all 0.3s ease-in-out;
		}
	}
	
	
	.sub-menu {
		top: 75px !important;
		background-color: rgba(67,79,91,0.95) !important;
		left: 0 !important;
		right: auto !important;
		
		> li {
			
			> a {
				letter-spacing: .5px;
				font-size: 13px;
			}
		}
	}
}



//Current active item
.current-page-ancestor > a {
	color: $l-blue !important;
}




// ON SCROLL NAVIGATION BAR
//==============================

// LOGO
.x-brand-scroll {
	margin-top: 10px !important;
	width: 200px;
	height: 50px;
    transition: all 0.5s ease-in-out;
    
    @include respond-custom(max-width, 979px) {
	    margin-top: inherit !important;
	    width: inherit;
		height: inherit;
	}

}


// MENU / BAR
.x-navbar-scroll {
	background-color: rgba($d-blue, .95) !important;
	
	.x-navbar-inner,
	.x-nav > li > a {
		height: 75px !important;
		min-height: 75px !important;
		transition: all 0.3s ease-in-out;
		
		@include respond-custom(max-width, 979px) {
			height: inherit !important;
			min-height: initial !important;
		}
	}
	
	
	.x-nav > li > a {
		padding-top: 28px !important;
		
		@include respond-custom(max-width, 979px) {
			padding: inherit !important;
		}
	}
	
}