/* =============================
	   BASE BUTTON STYLES
=============================== */

//Black Button
//==================
.x-btn,
.donate-button,
.button-primary,
.button {
	padding: em(12) 5% !important;
	text-shadow: none !important;
	font-size: 14px !important;
	line-height: 1.2;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all 0.3s linear;
	
	//480px
    @include respond-max($m-phone) {
        width: 100% !important;
        display: block;
    }

	&:hover,
	&:focus {
		background-color: $d-blue !important;
		color: white;
	}
	
}

//White Button
//====================
.x-btn.-secondary-btn{
	color: white;
	border-color: $l-blue;

	&:focus,
	&:hover {
		background-color: $l-blue !important;
		border-color: $l-blue;
	}

}