/* =============================
	   CALENDAR STYLES
=============================== */

.mec-month-divider {
	display: none;
}
	
	
.mec-wrap {
	
	.mec-event-date {
		background: $m-blue;
		border-radius: 0;
	}
	
	.mec-event-title {
		padding-top: 7px;
		
		> a {
			text-transform: uppercase;
			color: $l-blue;
			font-weight: 600 !important;
			
			//1024px
			@include respond-max($hor-tablet) {
				font-size: 16px;
			}
			
			&:hover,
			&:focus {
				color: $m-blue;
			}
		}
		
	}
	
	.event-color {
		display: none;
	}
	
	.mec-event-article {
		padding: 15px 0 10px;
	}
	
	.mec-event-detail {
		color: $d-blue;
	}
	
	.col-md-9 {
		padding-left: 0;
	}
	
	.mec-detail-button {
		line-height: 1.2;
		
		&:hover {
			background-color: $d-blue !important;
		}
	}
	
	
}
