/* =============================
	   BASE FORM STYLES
=============================== */

select, 
textarea,
input:focus, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	border: 3px solid #b9b9b9;
	border-radius: 0;
	height: 40px !important;
	box-shadow: none !important;
	color: $grey !important;
	font-size: 15px !important;
}


body .gform_wrapper .top_label .gfield_label {
	text-transform: uppercase;
}


.top_label div.ginput_complex.ginput_container.gf_name_has_1,
.top_label div.ginput_complex.ginput_container.gf_name_has_2 {
	
	label {
		display: none;
	}
	
}

// Input fields
input[type="text"] {
	margin-bottom: 0 !important;
	
	@include respond-custom(max-width, 640px) {
		margin-top: 0 !important;
	}

}


//Message area
textarea {
	font-size: 15px !important;
	line-height: 1.2 !important;
	padding: 5px !important;
	height: 200px !important;
}





//Gravity submit Button
//========================
.gform_button.button,
input[type="submit"] {
	@extend .x-btn;
}





//BREAKING INPUT FIELDS TO COLUMNS
//========================================
/*
.adjust-left,
.adjust-right {
	width: 48%;
	display: inline-block;
	margin-top: 0 !important;
	
	@include respond-custom(max-width, 640px) {
		width: 100%;
		display: block;
	}
	
	//480px
	@include respond-max( $m-phone ){
		width: 100%;
		display: block;
		margin-right: 0 !important;
	}
}


//Breaks input lists into a column - Left Side
.adjust-left {
	float: left;
	margin-right: 2% !important;
}
*/



//Breaks input lists into a column - Right Side
.adjust-right {
		
}
